html, body{
  overflow-x: hidden;
}

.showcard{
height:500px;
cursor:pointer;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
.showcard:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.imgstyle{
  height: 50%;
  width:100%;
  object-fit: contain;
}
.back-to-catalog{
  display:block;
  margin:2px;
  cursor: pointer;
  padding:15px;
}
.container{
  height:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items:center ;
}
.product{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height:45%;
  justify-content: space-between;
  align-items: flex-start;

}
.description{
height:45%;
font-size: 0.75rem;
}
.image-details{
  height:100%;
  width:45%;
  flex-wrap: wrap;
  border:4px solid grey;
  object-fit: contain;
}

img{
  object-fit: contain;
  width:100%;
}

.product-details{
  height:100%;
  width:45%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0.85rem;;
}

.mytext{
  font-size :0.75rem;
  cursor: pointer;
}

.outerDiv{
  display:flex;
  justify-content: flex-start;
  align-items:flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.totalprice{
  font-weight : bold;
 padding :20px;
}
.totalpriceCart{
  font-weight : bold;
  margin-top: 10px;
}
input,textarea{
  border:2px solid grey;
}
button{
  cursor:pointer;
}
.checkoutForm{
  border:5px solid black;
  border-radius: 12px;
  margin:5px;
}
.cart-icon{
  cursor: pointer;
}
.item_count{
  font-size: 5vmin;
  padding:3%;
  border-radius: 15%;
}
.cooking{
  height:65vh;
  background: url("images/cooking.jpg")no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:cursive;
}
 .carousel-inner{
  height:70%
}
.carouselImg{
  height:100%;
}
.carousel-caption{
  font-family: cursive;
}
.emptyCart{
  height:40%;
  width:80%;
  border:4px solid grey;
  font-size: 5vmin;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15%;
  background-color:#667db6;
}
.modal-content{
    background-color:#667db6;
}
.modal-header{
    border-bottom: 0 none;
}
.modal-footer{
  border-top:0 none;
}
